*
{
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue", sans-serif;
}

html,
body
{
    overflow: hidden;
}

main {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.webgl
{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.pageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 140px 30px 30px;
    box-sizing: border-box;
    color: white;
}

#llama-helper {
    position: absolute;
    bottom: 30px; left: 30px;
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

    #llama-helper .left-wrapper {
        position: relative;
        width: 128px;
    }
        #llama-helper .left-wrapper:before {
            content: '';
            display: block;
            position: absolute;
            margin: auto;
            bottom: 0;
            left: 0; right: 0;
            width: 125px;
            height: 125px;
            background-color: rgba(255,255,255, 0.1);
            border-radius: 50%;
            backdrop-filter: blur(20px);
        }
        .portrait-wrapper {}

    #llama-helper img {
        position: relative;
        display: block;
        width: 128px;
        height: auto;
    }

    #llama-helper .right-wrapper {
        pointer-events: auto;
        position: relative;
        width: 400px;
        padding: 30px 20px;
        border-radius: 20px;
        background-color: rgba(20,20,20, 0.5);
        backdrop-filter: blur(20px);
        color: #fff;
        box-sizing: border-box;
    }

        #llama-helper .text-globe h2 {
            margin-bottom: 32px;
        }

        #llama-helper .text-globe button {
            margin-top: 16px;
        }
        
        #llama-helper .text-globe .isologo {
            position: absolute;
            bottom: 30px;
            right: 20px;
            width: 30px;
        }

/* Global UI */
.regular-btn {
    padding: 6px 10px;
    cursor: pointer;
}

article#juegoContainer.pageContainer {
    padding: 190px 0;
}
/* Slides shared classes */
.allSlidesContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid rgba(255,255,255, 0.5); */
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.22, 1, 0.36, 1);

    /* animating properties */
    pointer-events: none;
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.5);
}

    .slideContainer.show {
        transition: all 1200ms cubic-bezier(0.22, 1, 0.36, 1) 150ms;
        pointer-events: auto;
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
    .slideContainer.noBlur {
        filter: none !important;
    }

.horizontalStackWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.leftToRightWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Slide unique styles */
#slide0 {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items:start;
}
    #slide0 h1 {
        font-size: 100px;
        font-family: sans-serif;
        margin-top: -150px;
    }

    #slide0 img {
        position: absolute;
        width: 30%;
        margin-right: 100px;
    }


/* Llama related layouts */
.llama-intro {
    position: relative;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
    .llama-intro .portrait-wrapper {
        position: relative;
        width: 128px;
        height: auto;
        flex-shrink: 0;
    }

        .llama-intro .portrait-wrapper:before {
            content: '';
            display: block;
            position: absolute;
            margin: auto;
            bottom: 0;
            left: 0; right: 0;
            width: 80px;
            height: 80px;
            background-color: rgba(255,255,255, 0.1);
            border-radius: 50%;
            backdrop-filter: blur(20px);
        }

        .llama-intro .portrait-wrapper img {
            position: relative;
            display: block;
            width: 128px;
            height: auto;
        }

    .llama-intro .text-wrapper {
        width: 400px;
        padding: 20px 20px;
        border-radius: 5px;
        background-color: rgba(20,20,20, 0.75);
        backdrop-filter: blur(20px);
    }


#slide5 .llama-instructions, #slide7 .llama-instructions {
    padding-right: 0;
}

.llama-instructions {
    position: relative;
    width: 40%;
    min-width: 400px;
    height: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding-right: 40px;
    box-sizing: border-box;
}
    .llama-instructions .portrait-wrapper {
        position: relative;
        width: 128px;
        height: auto;
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }

        .llama-instructions .portrait-wrapper:before {
            content: '';
            display: block;
            position: absolute;
            margin: auto;
            bottom: 0;
            left: 0; right: 0;
            width: 80px;
            height: 80px;
            background-color: rgba(0,0,0, 0.1);
            border-radius: 50%;
            backdrop-filter: blur(20px);
        }

        .llama-instructions .portrait-wrapper img {
            position: relative;
            display: block;
            width: 128px;
            height: auto;
        }

    .llama-instructions .text-wrapper {
        width: 400px;
        /* height: 60%; */
        padding: 40px 30px;
        border-radius: 5px;
        background-color: rgba(20,20,20, 0.5);
        backdrop-filter: blur(80px);
    }

        .llama-instructions .text-wrapper h2 {
            margin-bottom: 32px;
        }
        .llama-instructions .text-wrapper h3 {
            margin-bottom: 16px;
        }
        .llama-instructions .text-wrapper p {
            margin-bottom: 12px;
        }

        .llama-instructions .text-wrapper button {
            margin-top: 48px;
        }

.llama-waiting-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.llama-wait {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
    .llama-wait .portrait-wrapper {
        position: relative;
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }

        .llama-wait .portrait-wrapper:before {
            content: '';
            display: block;
            position: absolute;
            margin: auto;
            bottom: 0;
            left: 0; right: 0;
            width: 80px;
            height: 80px;
            background-color: rgba(0,0,0, 0.1);
            border-radius: 50%;
            backdrop-filter: blur(20px);
        }

        .llama-wait .portrait-wrapper img {
            position: relative;
            display: block;
            width: 128px;
            height: auto;
        }

    .llama-wait .text-wrapper {
        width: 480px;
        padding: 40px 30px;
        border-radius: 25px;
        text-align: center;
        /* background-color: rgba(70, 41, 65, .8);
        box-shadow: 0 0 40px #ffffff;
        backdrop-filter: blur(10px); */
        /* animation: oscillate 2s infinite ease-in-out; */
    }

        .llama-wait .text-wrapper h3 {
            padding-bottom: 40px;
        }


.cards-container {
    position: relative;
    width: 90%;
    height: 100%;
    max-height: 450px;
    margin: 10px 0;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.cards-container.fitHeight {
    height: 100%;
    max-height: 520px;
    align-items: center;
}

    .cards-container .card-wrapper {
        position: relative;
        width: 320px;
        height: 100%;
        padding: 30px 20px 80px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 10px;
        background-image: linear-gradient(155deg, rgba(102, 35, 125, 0.75), rgba(109, 54, 160, 0.75));
        backdrop-filter: blur(20px);
        overflow: hidden;
    }
    .cards-container .card-wrapper.fitHeight {
        height: 100%;
        max-height: 600px;
        /* align-items: center; */
    }

        .cards-container .card-footer {
            position: absolute;
            bottom: 0; left: 0;
            width: 100%;
            padding: 15px 30px;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            box-sizing: border-box;
            background-color: rgba(20,20,20, 0.5);
        }

div.card-wrapper.llama-input-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.guideline-container {
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
}
    .card-wrapper.llama-input-cards .guideline-container {
        height: 50px;
    }

.guidelines {
    text-align: right;
    font-family: "HelveticaNeue", sans-serif;
    font-weight: 700;
}

div.guideline-description-container {
    padding: 10px;
}

p.guideline-description {
    text-align: right;
    font-size: 1.2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.input-element {
    margin-bottom: 0;
}

.llama-input {
    width: 100%;
}

h3#loading-title {
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgba(70, 41, 65, .8);
    box-shadow: 0 0 5px #ffffff;
    backdrop-filter: blur(10px);
}
img#loading-animation {
    width: 256px;
    height: auto;
    animation: oscillateY 2s infinite ease-in-out;
}

.regular-btn.goToNextStepBtn {
    color: #dbdbdb;
    font-family: "HelveticaNeue", sans-serif;
    font-size: larger;
    padding: 1rem 2rem;
    border-radius: 2px;
    border: none;
    background-color: rgb(100, 19, 154);
    transition: box-shadow 0.13s ease-in-out, color 0.13s ease-in-out;
}

.regular-btn.goToNextStepBtn:hover {
    color: #ffffff;
}

.regular-btn.goToNextStepBtn#submit:hover {
    box-shadow: 0px 0px 40px rgba(148, 33, 255, 0.8);
    color: #ffffff;
}

button#firstStepBtn.regular-btn.submitBtn {
    background-color: #aa9ffd;
    padding: 1rem 2rem;
    font-family: "HelveticaNeue", sans-serif;
    border: none;
    border-radius: 50px;
    color: #272723;
}

#loader-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader {
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 24px solid #514b82;
    animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
div.theme-input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 25%;
    margin-bottom: 1rem;
}
    .inputs-container {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }
        .range {
            width: 90%;
        }
        /*********** Baseline, reset styles ***********/
        .range {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: ew-resize;
            width: 25rem;
        }
        
        /* Removes default focus */
        .range:focus {
            outline: none;
        }
        
        /******** Chrome, Safari, Opera and Edge Chromium styles ********/
        /* slider track */
        .range::-webkit-slider-runnable-track {
            background-color: rgba(0,0,0, 0.25);
            border-radius: 0.5rem;
            height: 0.5rem;
        }
        
        /* slider thumb */
        .range::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            margin-top: -4px; /* Centers thumb on the track */
            background-color: #fff;
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
        }
        
        .range:focus::-webkit-slider-thumb {
            outline: 3px solid rgba(255,255,255, 0.5);
            outline-offset: 0.125rem;
        }
        
        /*********** Firefox styles ***********/
        /* slider track */
        .range::-moz-range-track {
            background-color: rgba(0,0,0, 0.25);
            border-radius: 0.5rem;
            height: 0.5rem;
        }
        
        /* slider thumb */
        .range::-moz-range-thumb {
            background-color: #fff;
            border: none; /*Removes extra border that FF applies*/
            border-radius: 0.5rem;
            height: 1rem;
            width: 1rem;
        }
        
        .range:focus::-moz-range-thumb{
            outline: 3px solid rgba(255,255,255, 0.5);
            outline-offset: 0.125rem;
        }
        .input-number {
            font-weight: 700;
            text-align: center;
            color: #ffffff;
            font-weight: 900;
            font-size: 2rem;
            padding: 10px 15px;
            border-radius: 10px;
            align-self: flex-end;
            margin: 0;
            width: 10%;
        }
        input#theme-input {
            position: relative;
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            border-radius: 10px;
            border: none;
            background-color: rgba(255, 250, 209, 0.1);
            color: #ffffff;
            font-size: larger;
            margin-top: 6px;
        }
        input#theme-input:active {
            box-shadow: 0px 0px 40px rgba(148, 33, 255, 0.8);
        }
button#another-one {
    background-color: rgba(148, 33, 255, 0.8);
    padding: 1rem 2rem;
    font-family: "HelveticaNeue", sans-serif;
    border: none;
    font-size: 1.2rem;
    border-radius: 12px;
    color: #ffffff;
    transition: box-shadow 0.13s ease-in-out, color 0.13s ease-in-out;
}
button#another-one:hover {
    box-shadow: 0px 0px 40px rgba(148, 33, 255, 0.8);
    color: #ffffff;
}
button#back-home {
    background-color: rgba(148, 33, 255, 0.8);
    padding: 1rem 2rem;
    font-family: "HelveticaNeue", sans-serif;
    border: none;
    font-size: 1.2rem;
    border-radius: 12px;
    color: #ffffff;
    transition: box-shadow 0.13s ease-in-out, color 0.13s ease-in-out;
}
button#back-home:hover {
    box-shadow: 0px 0px 40px rgba(148, 33, 255, 0.8);
    color: #ffffff;
}
div.slide7 div.cards-container div.card-wrapper.fitHeight {
    transition: box-shadow 0.13s ease-in-out;
}

div.slide7 div.cards-container div.card-wrapper.fitHeight:hover {
    box-shadow: 0px 0px 40px rgba(148, 33, 255, 0.8);
}

/* Styles for container holding Llama responses */
.llama-response {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
}

.llama-response h1,
.llama-response h2,
.llama-response h3,
.llama-response h4,
.llama-response h5 {
    margin-top: 30px;
    padding-bottom: 5px;
    text-decoration: underline;
    opacity: 0.7;
}

.llama-response * {
    margin-bottom: 10px;
}

@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

@keyframes oscillate{
    0% {box-shadow: 0 0 40px #ffffff;}
    50% {box-shadow: 0 0 40px rgba(255, 255, 255, 0);}
    100% {box-shadow: 0 0 40px #ffffff;}
}
@keyframes oscillateY{
    0% {transform: translate3d(0, -10px, 0);}
    50% {transform: translate3d(0, 20px, 0);}
    100% {transform: translate3d(0, -10px, 0);}
}

@media (max-height: 880px) {
    .allSlidesContainer {
        overflow-y: scroll;
    }
    article#juegoContainer.pageContainer {
        padding: 100px 0 20px;
    }
}